@media (max-width: 900px) {

    .navbar {
        padding: 0 4%;
    }

    nav {
        gap: 15px;
    }

    .hero {
        grid-template-columns: 1fr;
        padding-top: 70px;
    }

    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .collab-section {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {

    .navbar {
        height: 65px;
    }

    nav a:not(.nav-btn) {
        display: none;
    }

    .hero {
        padding: 60px 5%;
    }

    .hero h1 {
        font-size: 48px;
        letter-spacing: -2px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .primary-btn,
    .secondary-btn {
        text-align: center;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .section,
    .collab-section {
        padding: 75px 5%;
    }

    .section-title h2,
    .collab-content h2 {
        font-size: 34px;
    }

    .code-preview {
        padding: 20px 10px;
        overflow-x: auto;
    }
}